{wms_dist, [
  {test, [
    {nodes, [wms_dist@__hostname__]},
    {optional_nodes, [topc@__hostname__]}
  ]},
  {multi_test, [
    {nodes, [wms_dist@__hostname__, t1@__hostname__, t2@__hostname__]},
    {optional_nodes, [topc@__hostname__]}
  ]},
   {multi_test_auto_start, [
    {nodes, [wms_dist@__hostname__, t1@__hostname__, t2@__hostname__]},
    {auto_start_actors, [test_auto_start_actor_module]}
  ]},
  {prod, [
    {nodes, [wms_dist1@__hostname__, wms_dist2@__hostname__]}
  ]},
  {default,[
    {inactive_node_checking_timeout, 1000},
    {wait_for_cluster_connected_timeout, 5000},
    {actor_call_timeout, 10000},
    {auto_start_actors, []},
    {optional_nodes, []},
    {keepalive, 5000}
  ]}
]
}.